@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css?family=Anton');
/*font-family: 'Anton', sans-serif;*/
@font-face
{
    font-family: 'Panton';

    src: url(../fonts/Panton-LightCaps.otf);
}
/*font-family: 'Panton', sans-serif;*/
header#main
{
    height: 780px;

    background: url(../img/bg.jpg)no-repeat top center / cover;
}
.logo
{
    display: block;

    width: 100px;
    margin: 0 auto;
    padding-top: 57px;
}
.menu
{
    padding-top: 70px;
}
.top-menu li a
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;

    display: block;
    float: left;

    padding: 0 40px 0 0;

    list-style: none;

    text-transform: uppercase;

    color: #fff;
}
.top-menu li a:hover
{
    transition: .2s;
    text-decoration: none;

    color: #54d169;
}
.top-menu li a:active
{
    color: #4aab5b;
}
.top-menu li a:visited
{
    text-decoration: none;
}
.top-menu li a:link
{
    text-decoration: none;

    color: #fff;
}
.main-text
{
    font-family: 'Panton', sans-serif;
    font-size: 35px;

    padding-top: 260px;

    text-align: center;
    letter-spacing: .1px;
    text-transform: uppercase;
}
.main-text
{
    color: #fff;
}
.green-text
{
    color: #54d169;
}
.vector
{
    width: 500px;
    height: 2px;
    margin: 0 auto;
    margin-top: 6px;

    background-color: #b57c34;
    background-image: linear-gradient(to right, #54d169 0%, #aff57a 49%, #54d169 100%);
}
.smoll-main-text
{
    font-family: 'Roboto', sans-serif;
    font-weight: regular;

    margin-top: 6px;

    text-align: center;

    color: #fff;
}
.smoll-main-text span
{
    color: #54d169;
}
.button
{
    text-align: center;
}
.tbutton
{
    font-family: Roboto;
    font-size: 23px;
    font-weight: medium;

    width: 200px;
    height: 50px;
    margin-top: 120px;

    text-transform: uppercase;

    color: #fff;
    border: none;
    border-radius: 25px;
    outline: none;
    background-color: #54d169;
}

.tbutton:hover
{
    border: none;
    background-color: #4aab5b;
}
.down
{
    display: block;

    margin: 0 auto;
    margin-top: 120px;

    opacity: .5;
}
section
{
    height: 800px;

    background: #fff;
}
.p-text h1
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;

    padding: 40px 0 2px 0;
    padding-right: 10px;

    text-align: center;
    text-transform: uppercase;
}
.position-right
{
    float: light;

    border-radius: 20px;
}
.position-left
{
    float: right;

    border-radius: 20px;
}
.position-center
{
    border-radius: 20px;
}
.p2-text
{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;

    margin-right: 12px;
    padding-bottom: 40px;

    text-align: center;
    text-transform: uppercase;
}
.p3-text
{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;

    margin-right: 11px;
    padding-bottom: 40px;

    text-align: center;
    text-transform: uppercase;
}
.p4-text
{
    font-family: 'Roboto', sans-serif;
    font-size: 10px;

    margin-right: 9px;
    padding-bottom: 40px;

    text-align: center;
    text-transform: uppercase;
}

.section2
{
    height: 750px;

    background: #f8f8f8;
}
.avatar
{
    display: block;

    width: 160px;
    height: 160px;
    margin: 0 auto;

    border-radius: 100px;
    background-image: linear-gradient(-225deg, #aff57a 0%, #54d169 97%, #54d169 100%);
}
.avatar img
{
    height: 90%;
    margin-top: 8px;
    margin-left: 8px;
}
.mt
{
    margin-top: 100px;
}
footer
{
    height: 100px;

    background: #171717;
}
.footer-copyright
{
    font-family: 'Roboto', sans-serif;
    font-size: 11px;

    margin-top: 50px;

    letter-spacing: .3px;

    color: #fff;
}
.about
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;

    padding: 40px 0 2px 0;
    padding-right: 10px;

    text-align: center;
    text-transform: uppercase;
}
.owner
{
    font-family: 'Roboto', sans-serif;

    padding-top: 40px;
}
.owner span
{
    color: #54d169;
}
.halper
{
    font-family: 'Roboto', sans-serif;

    padding-top: 40px;

    text-align: right;
}
.halper span
{
    color: #54d169;
}
.headhesive
{
    position: fixed;

    width: 100%;
    height: 30px;
    padding: 6px 0 0 800px;

    transition: .5s;
    transform: translateY(-100%);

    background: rgba(0,0,0,.8);
}
.headhesive--stick
{
    transform: translateY(0);
}
#section3
{
    height: 750px;
}
#menu-1
{
    z-index: 1;
}
#pay
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;

    padding: 40px 0 2px 0;
    padding-right: 10px;

    text-align: center;
    text-transform: uppercase;
}
.pay
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;

    padding: 20px 0 2px 0;
    padding-right: 10px;

    text-align: center;
    text-transform: uppercase;
}
.table1
{
    width: 300px;
    height: 500px;
    margin: 0 auto;

    border: 1.5px solid     #ff4546;
}
.premium-name
{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;

    padding: 20px 0 2px 0;
    padding-right: 10px;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.premium-pay
{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    font-weight: bold;

    margin-top: 5px;
    padding-bottom: 10px;

    text-align: center;
}
.premium-pay-val
{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.line
{
    width: 220px;
    height: 1px;
    margin: 0 auto;

    background: rgba(0,0,0,.2);
}
.information
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 400;

    padding: 20px 20px 5px 20px;
}
.big-information
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;

    margin-bottom: 20px;
    padding: 20px 10px 2px 10px;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.big-information span
{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 500;

    padding: 20px 15px 2px 10px;

    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;

    color: #ff4546;
}
.buy1
{
    font-family: 'Roboto', sans-serif;

    position: relative;

    display: block;

    height: 50px;
    margin: 0 auto;
    padding: 0px 20px 0px 20px;

    color: #fff;
    border: 0 solid #000;
    background: #ff4546;
    border-radius: 5px;
}
.buy1:hover
{
    transition: .2s;

    background: #e53935;
}
.table2
{
    width: 300px;
    height: 500px;
    margin: 0 auto;

    border: 1.5px solid rgba(0,0,0,.6);
}
.table3
{
    width: 300px;
    height: 500px;
    margin: 0 auto;

    border: 1.5px solid rgba(0,0,0,.6);
}
.buy2
{
    font-family: 'Roboto', sans-serif;

    position: relative;

    display: block;

    height: 50px;
    margin: 0 auto;
    padding: 5px 20px 5px 20px;

    color: #fff;
    border: 0 solid #000;
    background: rgba(0,0,0,.6);
    border-radius: 5px;
}
.buy2:hover
{
    transition: .2s;

    background: rgba(0,0,0,.8);
}
.buy3
{
    font-family: 'Roboto', sans-serif;

    position: relative;

    display: block;

    height: 50px;
    margin: 0 auto;
    padding: 5px 20px 5px 20px;

    color: #fff;
    border: 0 solid #000;
    background: rgba(0,0,0,.6);
    border-radius: 5px;
}
.buy3:hover
{
    transition: .2s;

    background: rgba(0,0,0,.8);
}
.top-buy
{
    font-family: 'Roboto', sans-serif;

    width: 120px;
    height: 25px;
    margin: 0 auto;
    padding-top: 5px;

    text-align: center;

    color: #fff;
    background: #ff4546;
}
.feed-back
{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;

    padding: 40px 0 2px 0;
    padding-right: 10px;

    text-align: center;
    text-transform: uppercase;
}
.section4
{
    height: 550px;

    background: #f8f8f8;
}
.sms{
    width: 400px;
}
form
{
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}
input[type='texter']{
    height: 200px;
}
input
{
    font-family: 'Roboto', sans-serif;

    display: block;

    box-sizing: border-box;
    width: 100%;
    margin: 10px 0;
    padding: 10px 20px;

    border: 1.5px solid #54d169;
    outline: none;
    box-shadow: inset 0 0 4px 1px rgba(0, 0, 0, .11);
}
input[type='submit']
{
    text-transform: uppercase;
    color: #fff;
    background-image: linear-gradient(-225deg, #aff57a 0%, #54d169 97%, #54d169 100%);
    font-family: 'Roboto', sans-serif;
}
.label-form{
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    margin-left: 40px;
}
